
.menu-list {
    width: 224px;
    text-align: left;

    .menu-item {
        margin-left: 0;
        width: 100%;
        justify-content: flex-start;
        font-family: 'ProximaNova', sans-serif;
        border-radius: 0;

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
}

.menu-popper {
    padding-bottom: 8px;
}
