@import 'normalize.css';

:root {
    --primary: #d19c97;
    --secondary: #edf1ff;
    --white: #fff;
    --black: #1c1c1c;
    --text-color: #333;
    --text-input: #495057;

    --default-layout-header-heigh: 112px;
    --default-layout-width: 1280px;
    --default-margin-component: 36px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

input,
button,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
    }
}

//Fonts emmbeded
@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins/Poppins-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins/Poppins-Bold.ttf');
    font-weight: 700;
}
