

.header-title {
    font-size: 2.2rem;
    font-weight: 500;
}

.header-form {
    font-weight: 500;
    margin-bottom: 12px;
}

.update-btn {
    svg {
        width: 1.6rem;
        height: 1.6rem;
    }
}