.content {
    width: 100%;
    position: relative;
    height: var(--default-carousel-banner-heigh);
}

img {
    width: 100%;
    height: var(--default-carousel-banner-heigh);
    border-radius: 4px;
    object-fit: cover;
}

.control {
    position: absolute;
    top: 50%;
    z-index: 1;
}

.control.prev {
    left: 0.5em;
}

.control.next {
    right: 0.5em;
}
