
.title {
    font-weight: 500;
    font-size: 2.6rem;
}

.search-container {
    padding: 8px;

    button {
        min-height: 28px;
        font-size: 1.4rem;
    }
}


.btn {
    height: 30px;
    svg {
        width: 1.6rem;
        height: 1.6rem;
    }
}