.wrapper {
    --heigh-input-search: 38px;
    --width-input-seach: 600px;
    --width-input-btn: 50px;
    --border-radius-input: 4px;

    width: 100%;
    height: var(--default-layout-header-heigh, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--secondary);
}

.inner {
    height: 100%;
    width: 100%;
    padding: 0 20px;

    img {
        display: block;
        width: auto;
    }
}

.search,
.search-result {
    width: auto;
}

.search {
    border: 1.5px solid transparent;
    background-color: var(--white);
    height: var(--heigh-input-search);
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-input);
    padding-left: 12px;
    position: relative;
    overflow: hidden;

    input {
        caret-color: var(--primary);
        font-size: 1.6rem;
        width: 100%;
        color: var(--text-input);
        flex: 1;
        height: 22px;
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}

.search-result {
    .search-title {
        height: 30px;
        padding: 5px 12px;
        font-size: 1.4rem;
        line-height: 20px;
        font-weight: 600;
        color: #16182380;
    }
}

.clear,
.loading {
    color: #a7a7ab;
    padding: 6px;
    margin-right: 6px;
    margin-top: 3px;
    font-size: 1.8rem;
}

.search-btn {
    color: var(--white);
    width: var(--width-input-btn);
    font-size: 1.8rem;
    height: var(--heigh-input-search);
    border-top-right-radius: var(--border-radius-input);
    border-bottom-right-radius: var(--border-radius-input);
    background-color: var(--primary);

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

.cart-content {
    cursor: pointer;
    svg {
        width: 2rem;
        height: 2rem;
    }
}

.order-quantity {
    position: absolute;
    top: 0;
    right: 1.5rem;
    font-size: 1.3rem;
    border-radius: 50%;
    padding: 1px 4px;
    color: var(--white);
    background-color: var(--primary);
}

.drop-down {
    min-width: 170px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}
