.content {
    width: 100%;

    .basic-info {
        color: var(--text-color);

        h1 {
            font-weight: 500;
        }

        span {
            font-size: 1.5rem;
        }

        .title {
            display: block;
            min-width: 10rem;
            font-size: 1.7rem;
        }

        .rate {
            color: var(--primary);
        }

        .price {
            color: var(--primary);
        }

        .variation-content {
            max-width: 300px;
        }
    }

    .shop-container {
        background-color: var(--secondary);
        width: 100%;
        padding: 10px 20px;
        min-height: 160px;

        .shop-avatar {
            max-width: 100px;
            height: auto;
        }

        button {
            font-size: 1.2rem;

            svg {
                width: 1.6rem;
                height: 1.6rem;
            }
        }

        .shop-info-value {
            color: var(--primary);
        }
    }

    .small-title {
        background-color: #f5f5f5;
        font-size: 2rem;
        font-weight: 500;
        padding: 4px 10px;
        margin-bottom: 10px;
    }

    .product-detail-container {
        .product-detail-content {
            padding: 2px 5px;
            margin-top: 10px;

            .spec-key {
                display: inline-block;
                opacity: 0.6;
                font-size: 1.6rem;
                min-width: 100px;
            }
        }
    }
}
