
.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--default-margin-component);

    .see-more-btn {
        width: 200px;
    }
}

