
.content {
    width: 380px;
    padding: 10px 20px;
    border: solid 1px var(--secondary);
    border-radius: 8px;
}

.header {

    .title {
        font-size: 2.4rem;
        font-weight: 500;
    }

    .sub-title {
        font-size: 1.4rem;
    }
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
    padding: 6px 0;

    .field {
        height: 34px;
    }

    .submit-btn {
        padding: 10px 16px;
    }
}

.footer {
    width: 100%;
    font-size: 1.4rem;

    .redirect-btn {
        color: var(--primary);
        margin-left: 4px;
    }
}

.noti {
    width: 440px !important;
    border-radius: 4px;
}

.success {
    border: solid 1px #b7eb8f;
    background-color: #f6ffed,
}

.error {
    border: solid 1px #FFCCC7;
    background-color: #FFF2F0;
}